<table class="pull-table table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Branch</th>
      <th>Opener</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pull_requests.each do |pr| %>
      <tr>
        <td><%= pr.number %></td>
        <td><%= pr.title %></td>
        <td><%= pr.branch_name %></td>
        <td class="opener"><img src="<%= pr.opener_image %>" alt="<%= pr.opener %>" width="20" height="20"><%= pr.opener %></td>
        <td class="actions">
          <% form_tag %>
          <%= link_to "Merge", merge_pull_request_path, class: "btn btn-block btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

