<table class="pull-table table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Branch</th>
      <th>Opener</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pull_requests.each do |pr| %>
      <tr>
        <td><%= link_to pr.number, "https://github.com/behance/be.net/pull/#{pr.number}", target: "_blank" %></td>
        <td><%= pr.title %></td>
        <td><%= pr.branch_name %></td>
        <td class="opener"><img src="<%= pr.opener_image %>" alt="<%= pr.opener %>" width="20" height="20"><%= pr.opener %></td>
        <td class="actions">
          <%= form_tag merge_pull_request_path, method: "post" do %>
            <%= hidden_field_tag "pull_request_number", pr.number %>
            <%= submit_tag "Merge", class: "btn btn-block btn-default" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

